---
---

@import "{{ site.theme }}";

body {
    color: #c8cacb;
    background-color: #081016;
}

.page-header {
    background-image: none;
    background-color: #193353;
}

.main-content code {
    background-color: #14253d;
    color: #d8ecf5;

}

.main-content pre {
    background-color: #e5f5ff;
}

.main-content pre>code {
    color: #010712;
}

/* Elrejtjük csak azt az elválasztót, amelyikhez a 'no-show' osztályt adtuk */
.main-content hr.no-show {
    display: none;
}