---
---

@import "{{ site.theme }}";

body {
    color: #c8cacb;
    background-color: #081016;
}

a {
    color: #6b99c7;
}

.page-header {
    background-image: none;
    background-color: #193353;
}

.main-content code {
    background-color: #14253d;
    color: #d8ecf5;

}

.highlight .c .c1 {
    color: #309974;
}

.highlight .bp {
    color: #2e98c3;
}

.highlight .nf .nc .nt .ow {
    color: #ede3e3;
}

.highlight .nb {
    color: #27bcd5;
}

.highlight .nn {
    color: #4184b9;
}

.highlight .n .o {
    color: #4184b9;
}

.highlight .k {
    color: #c75a5a;
}

.highlight .kn {
    color: #d55151;
}

.highlight .s .s1 {
    color: #d1a56b;
}

.main-content pre {
    background-color: #e5f5ff;
}

.main-content pre>code {
    color: #010712;
}

/* Elrejtjük csak azt az elválasztót, amelyikhez a 'no-show' osztályt adtuk */
.main-content hr.no-show {
    display: none;
}

.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5, 
.main-content h6
{
    color: #dbdaaf;
}