---
---

@import "{{ site.theme }}";

body {
    color: #c8cacb;
    background-color: #081016;
}

a {
    color: #6b99c7;
}

.page-header {
    background-image: none;
    background-color: #193353;
}

.main-content code {
    background-color: #14253d;
    color: #d8ecf5;

}

.highlight .c1 {
    color: #1a855f;
}

.highlight .bp {
    color: #153dd7;
}

.highlight .nc {
    color: #102565;
}

.main-content pre {
    background-color: #e5f5ff;
}

.main-content pre>code {
    color: #010712;
}

/* Elrejtjük csak azt az elválasztót, amelyikhez a 'no-show' osztályt adtuk */
.main-content hr.no-show {
    display: none;
}

.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5, 
.main-content h6
{
    color: #8fcdae;
}