---
---

@import "{{ site.theme }}";

body {
    color: #c8cacb;
    background-color: #081016;
}

a {
    color: #6b99c7;
}

.page-header {
    background-image: none;
    background-color: #193353;
}

.main-content code {
    background-color: #14253d;
    color: #d8ecf5;

}

.main-content .highlight {
    border: transparent;
    background-color: #0b202d;
    border-radius: 30px;
}

.main-content .highlight .c 
.main-content .highlight .c1 {
    color: #309974;
}

.main-content .highlight .bp {
    color: #2e98c3;
}

.main-content .highlight .nf
.main-content .highlight .nc 
.main-content .highlight .nt 
.main-content .highlight .ow {
    color: #ede3e3;
}

.main-content .highlight .nb {
    color: #27bcd5;
}

.main-content .highlight .nn {
    color: #4184b9;
}

.main-content .highlight .n 
.main-content .highlight .o {
    color: #4184b9;
}

.main-content .highlight .k {
    color: #c75a5a;
}

.main-content .highlight .kn {
    color: #d55151;
}

.main-content .highlight .s 
.main-content .highlight .s1 {
    color: #d1a56b;
}

.main-content pre {
    background-color: #0b202d;
}

.main-content pre>code {
    color: #010712;
}

/* Elrejtjük csak azt az elválasztót, amelyikhez a 'no-show' osztályt adtuk */
.main-content hr.no-show {
    display: none;
}

.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5, 
.main-content h6
{
    color: #dbdaaf;
}